.contato-mensagem {
  background-color: var(--color-white);
  border-radius: 4px;
  border: none;
  color: #a2a2a2;
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  height: 90px;
  padding: 1rem;
  width: 100%;
}
