<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles/_normalize.css" />
    <link rel="stylesheet" href="/assets/css/styles/_variaveis.css" />
    <link rel="stylesheet" href="/assets/css/detalhes/navbar/navbar.css" />
    <link rel="stylesheet" href="/assets/css/detalhes/navbar/navbar-logo.css" />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/navbar/navbar-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/navbar/navbar-buscar.css"
    />
    <link rel="stylesheet" href="/assets/css/detalhes/produtos/produtos.css" />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos/produtos-imagem.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos/produtos-texto.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos/produtos-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos/produtos-preco.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos/produtos-descricao.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produtos-similares.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produtos-similares-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produtos-lista.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produto-similar.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produto-similar-imagem.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produto-similar-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produto-similar-preco.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/detalhes/produtos-similares/produto-similar-link.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer-logo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer-navbar.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer-link.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/footer/footer-credito.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/contato/contato.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/contato/contato-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/contato/contato-nome.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/contato/contato-mensagem.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/adicionar-produto/contato/contato-botao.css"
    />
  </head>
  <body>
    <header class="header">
      <navbar class="navbar">
        <h1 class="navbar-titulo">
          <img
            class="navbar-logo"
            src="/assets/img/svg/gaming-console.svg"
            alt="Logo AluraGeek"
          />
          <span style="color: var(--color-blue-dark)">Alura</span>Geek
        </h1>
        <img
          class="navbar-buscar"
          src="/assets/img/svg/icon-search.svg"
          alt="Desenho de uma lupa"
        />
      </navbar>
    </header>
    <section class="produtos">
      <img
        class="produtos-imagem"
        src="/assets/img/png/produtos/categoria-1/1-starwars.jpg"
      />
      <div class="produtos-texto">
        <h2 class="produtos-titulo">Produto XYZ</h2>
        <p class="produtos-preco">R$ 60,00</p>
        <article class="produtos-descricao">
          Voluptas voluptatum quibusdam similique, class debitis alias maecenas
          eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima
          malesuada habitasse distinctio sequi aliqua malesuada. Quisque
          deleniti proin expedita, aliquid litora. Iste recusandae? Commodo,
          quia ridiculus doloribus vero dictum? Penatibus donec placeat
          faucibus, dolorum do. Animi porta anim magnam
        </article>
      </div>
    </section>

    <section class="produtos-similares">
      <h2 class="produtos-similares-titulo">Produtos similares</h2>
      <ul class="produtos-lista">
        <li class="produto-similar">
          <img
            class="produto-similar-imagem"
            src="/assets/img/png/produtos/categoria-1/3-starwars.jpg"
          />
          <p class="produto-similar-titulo">Produto XYZ</p>
          <p class="produto-similar-preco">R$ 60,00</p>
          <a class="produto-similar-link" href="#">Ver produto</a>
        </li>
        <li class="produto-similar">
          <img
            class="produto-similar-imagem"
            src="/assets/img/png/produtos/categoria-1/2-starwars.jpg"
          />
          <p class="produto-similar-titulo">Produto XYZ</p>
          <p class="produto-similar-preco">R$ 60,00</p>
          <a class="produto-similar-link" href="#">Ver produto</a>
        </li>
        <li class="produto-similar">
          <img
            class="produto-similar-imagem"
            src="/assets/img/png/produtos/categoria-2/2-consoles.jpg"
          />
          <p class="produto-similar-titulo">Console XYZ</p>
          <p class="produto-similar-preco">R$ 60,00</p>
          <a class="produto-similar-link" href="#">Ver produto</a>
        </li>
        <li class="produto-similar">
          <img
            class="produto-similar-imagem"
            src="/assets/img/png/produtos/categoria-2/3-consoles.jpg"
          />
          <p class="produto-similar-titulo">Controle XYZ</p>
          <p class="produto-similar-preco">R$ 60,00</p>
          <a class="produto-similar-link" href="#">Ver produto</a>
        </li>
      </ul>
    </section>

    <footer class="footer">
      <navbar class="footer-navbar">
        <h1 class="footer-titulo">
          <img
            class="footer-logo"
            src="/assets/img/svg/gaming-console.svg"
            alt="Logo AluraGeek"
          />
          <span style="color: var(--color-blue-dark)">Alura</span>Geek
        </h1>
        <a class="footer-link" href="#">Quem somos nós</a>
        <a class="footer-link" href="#">Política de privacidade</a>
        <a class="footer-link" href="#">Programa fidelidade</a>
        <a class="footer-link" href="#">Nossas lojas</a>
        <a class="footer-link" href="#">Quero ser franqueado</a>
        <a class="footer-link" href="#">Anuncie aqui</a>
      </navbar>

      <form class="contato">
        <p class="contato-titulo">Fale conosco</p>
        <input class="contato-nome" type="text" placeholder="Nome" required />
        <input
          class="contato-mensagem"
          type="text"
          placeholder="Escreva sua mensagem"
          required
        />
        <button type="submit" class="contato-botao">Enviar mensagem</button>
      </form>
    </footer>

    <footer class="footer-credito">
      <p class="footer-credito-titulo">Desenvolvido por Camila</p>
      <p class="footer-credito-ano">2023</p>
    </footer>
  </body>
</html>
