<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/styles/_normalize.css" />
    <link rel="stylesheet" href="/assets/css/styles/_variaveis.css" />
    <link rel="stylesheet" href="/assets/css/login/navbar/navbar.css" />
    <link rel="stylesheet" href="/assets/css/login/navbar/navbar-logo.css" />
    <link rel="stylesheet" href="/assets/css/login/navbar/navbar-titulo.css" />
    <link rel="stylesheet" href="/assets/css/login/navbar/navbar-buscar.css" />
    <link rel="stylesheet" href="/assets/css/login/login-form/login-form.css" />
    <link
      rel="stylesheet"
      href="/assets/css/login/login-form/login-form-titulo.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/login/login-form/login-form-email.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/login/login-form/login-form-senha.css"
    />
    <link
      rel="stylesheet"
      href="/assets/css/login/login-form/login-form-botao.css"
    />
    <link rel="stylesheet" href="/assets/css/index/footer/footer.css" />
    <link rel="stylesheet" href="/assets/css/index/footer/footer-navbar.css" />
    <link rel="stylesheet" href="/assets/css/index/footer/footer-titulo.css" />
    <link rel="stylesheet" href="/assets/css/index/footer/footer-logo.css" />
    <link rel="stylesheet" href="/assets/css/index/footer/footer-link.css" />
    <link rel="stylesheet" href="/assets/css/index/footer/footer-credito.css" />
    <link rel="stylesheet" href="/assets/css/index/contato/contato.css" />
    <link
      rel="stylesheet"
      href="/assets/css/index/contato/contato-titulo.css"
    />
    <link rel="stylesheet" href="/assets/css/index/contato/contato-nome.css" />
    <link
      rel="stylesheet"
      href="/assets/css/index/contato/contato-mensagem.css"
    />
    <link rel="stylesheet" href="/assets/css/index/contato/contato-botao.css" />
  </head>
  <body>
     <header class="header">
      <navbar class="navbar">
        <h1 class="navbar-titulo">
          <img
            class="navbar-logo"
            src="/assets/img/svg/gaming-console.svg"
            alt="Logo AluraGeek"
          />
          <span style="color: var(--color-blue-dark)">Alura</span>Geek
        </h1>
        <img
          class="navbar-buscar"
          src="/assets/img/svg/icon-search.svg"
          alt="Desenho de uma lupa"
        />
      </navbar>
     </header>
    <section class="iniciar-sessao">
      <form class="login-form">
        <p class="login-form-titulo">Iniciar Sessão</p>
        <input
          class="login-form-email"
          type="email"
          placeholder="Escreva seu e-mail"
          required
        />
        <input
          class="login-form-senha"
          type="password"
          placeholder="Escreva sua senha"
          required
        />
        <button type="submit" class="login-form-botao">Entrar</button>
      </form>
    </section>

    <footer class="footer">
      <navbar class="footer-navbar">
        <h1 class="footer-titulo">
          <img
            class="footer-logo"
            src="/assets/img/svg/gaming-console.svg"
            alt="Logo AluraGeek"
          />
          <span style="color: var(--color-blue-dark)">Alura</span>Geek
        </h1>
        <a class="footer-link" href="#">Quem somos nós</a>
        <a class="footer-link" href="#">Política de privacidade</a>
        <a class="footer-link" href="#">Programa fidelidade</a>
        <a class="footer-link" href="#">Nossas lojas</a>
        <a class="footer-link" href="#">Quero ser franqueado</a>
        <a class="footer-link" href="#">Anuncie aqui</a>
      </navbar>

      <form class="contato">
        <p class="contato-titulo">Fale conosco</p>
        <input class="contato-nome" type="text" placeholder="Nome" required />
        <input
          class="contato-mensagem"
          type="text"
          placeholder="Escreva sua mensagem"
          required
        />
        <button type="submit" class="contato-botao">Enviar mensagem</button>
      </form>
    </footer>

    <footer class="footer-credito">
      <p class="footer-credito-titulo">Desenvolvido por Camila</p>
      <p class="footer-credito-ano">2023</p>
    </footer>
  </body>
</html>
