.navbar-botao {
  background-color: transparent;
  border: 1px solid var(--color-blue-dark);
  display: flex;
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  font-weight: 600;
  justify-content: center;
  min-width: 150px;
  padding: 14px;
  color: var(--color-blue-dark);
}