.novo-produto-botao {
  background-color: var(--color-blue-dark);
  border: none;
  color: var(--color-white);
  font-family: var(--main-font);
  font-size: var(--font-size-medium);
  font-weight: 400;
  padding: 1rem;
  width: 100%;
}
